# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat

# Environment
.env
.env.prod
.env.local
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.springBeans
.sts4-cache

# Build
bin/
out/
dist/
nbdist/
nbproject/private/

### STS ### 
.apt_generated
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
